node_modules/
firebase-debug.log
.env
api_secrets.py
__pycache__/
*.pyc
venv/
.venv/
.vscode/
*.log
flutter_*.log
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
backend/data_storage/
