GEMINI_API_KEY=
MONGODB_URI=mongodb://localhost:27017/
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
DEFAULT_TIMEZONE=Asia/Kuala_Lumpur
REVISION_DELAY_HOURS=24
